.Header {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;

  .Logo {
  }
  .LoginRegister {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
